.App {
    text-align: left;
}

.App-sidebar {
    position:absolute;
    top:40px; bottom:0; right:0;
    width:300px;
    background:#E6E6E6;

}

.App-sidegrid {
    position:absolute;
    top:0; bottom:0; right:0;
    background:#E6E6E6;

}

.App-chatbox {
    position:relative;
    background: '#848484';
    height: 40%;
    margin: 0;
}

.App-grid {
    container:true;
    direction:"column";
    justify:"flex-start";
    alignItems:"stretch";
    className:"App-sidegrid";
    wrap:"nowrap";
}